@{
    ViewBag.Title = "ImportData";
}

<h2>Data Import Complete</h2>

<dl>
    <dt>WorkbookName</dt>
    <dd>@ViewBag.WorkbookName</dd>

    <dt>WorksheetName</dt>
    <dd>@ViewBag.WorksheetName</dd>

    <dt>VendorName</dt>
    <dd>@ViewBag.VendorName</dd>
</dl>

