@model IEnumerable<Prototype.ViewModels.SelectVendor>

<section>

    <h2>Select Vendor</h2>

    <form action="/Excel/Workbooks" method="post" enctype="multipart/form-data">
        <select name="vendorNameID">
            <option value="0_AddNew">Add New</option>
            @foreach (var item in Model)
            {
                    <option value="@(item.VendorID)_@(item.VendorName)">
                        @item.VendorName
                        </option>
            }
            </select>
        <button type="submit">Submit</button>
        <a href="/Excel/CreateVendor">Create New Vendor</a>
    </form>

</section>