<p>Welcome to Vendord!</p>
<dl>
    <dt>Manage...</dt>
    <dd>Each manage areas includes create, read, update, and delete operations.</dd>
    <dt>Manage Vendors</dt>
    <dd>Drill down to view the products that each vendor sells.</dd>
    <dt>Manage products</dt>
    <dd>Drill down to view the vendors that sell each product.</dd>
    <dt>Manage vendor products</dt>
    <dd>Associate products with vendors.</dd>
</dl>
